PORT=3001
DATABASE_URL="postgresql://postgres:123456@localhost:5432/movie_web?schema=public"
REDIS_URL="redis://localhost:6379"
JWT_ACCESS_SECRET="change_me_access"
JWT_REFRESH_SECRET="change_me_refresh"
ACCESS_TOKEN_EXPIRES_IN="15m"
REFRESH_TOKEN_EXPIRES_IN="7d"
